@charset "utf-8";
/* CSS Document */

* {
	padding: 0px;
	margin: 0px;
	font-family: 'Aldrich', sans-serif;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.hidden {
	display: none;
}

body {
	background-color:#CCCCCC;
	height: 100%;
}

a {
	text-decoration: none;
}

li {
	display: inline;
	list-style-type: none;
}

#container {
	width: 980px;
	height:100%;
	margin: 0 auto 0 auto;
	background-color:#FFF;
	position:relative;
}

#header-container {
	/*position: fixed;
	top: 0;
	left: 0;
	*/
	background-color: #222222;
	border-bottom: 1px solid #000000;
	color: #E5E5E6;
	height: 60px;
	width: 100%;
	padding-top: 5px;
	margin-bottom: 20px;
	text-align: center;
	
	/*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
	z-index: 1500;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
	background: -webkit-gradient(linear, left top, left bottom, from(#333),	to(#111) );
	background: -moz-linear-gradient(top, #333, #111);
	background: transparent\9;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333',	endColorstr='#111111' );
	-ms-filter:	"progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333',endColorstr='#111111')";
	_filter: none;
	_background: #111;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;*/
}

#logo-container {
	width: 300px;
	height: 100%;
	float: left;
}

#logo-image {
	height: 48px;
	width: 48px;
	float: left;
	margin: 5px 0 0 35px;
}

#app-search-container {
	width: 300px;
	height: 100%;
	float: left;
	padding-top: 20px;
}

#app-search-button {
	color: #E5E5E5;
	font-size: 14px;
	font-weight: bold;
}

#access-container {
	width: 200px;
	float: right;
}

#access-container-not-signed-in, #access-container-signed-in {
	margin: 23px 16px 0 0;
	padding-left: 0;
	white-space: nowrap;
	float:right;
	font-size:14px;
	font-weight:bold;
}

#access-container-not-signed-in li {
	display: inline; list-style-type: none;
}

#access-container-not-signed-in a {
	padding: 0px 20px 0px 20px;
}

#access-container-not-signed-in a:link, #navlist a:visited {
	color: #E5E5E5;
	background-color: #222222;
	text-decoration: none;
}

#access-container-not-signed-in a:hover {
	color: #E5E5E5;
	background-color: #C41230;
	text-decoration: none;
}

#main-container {
	width: 100%;
	margin-bottom: 20px;
}

#left-column {
	float: left;
	margin: 0 16px 0 17px;
    width: 630px;
}

#right-column {
	float: right;
	margin: 0 16px 0 0;
    width: 300px;
}

#footer-container {
    width: 980px;
    background-color: #272727;
    clear: both;
    display: block;
    height: 60px;
    margin-top: 20px;
}

#footer-logo {
	float: left;
	margin: 15px 0 0px 10px;
	width: 50px;
}

#copyright {
    color: #CCCCCC;
    float: left;
    font-size: 11px;
    margin: 20px 0 4px 10px;
    width: 200px;
}

#link-box {
    float: right;
    color: #CCCCCC;
    margin: 4px 60px 9px 0;
    font-size: 11px;
}

#link-box a:link, #link-box a:visited, #link-box a:active {
	background-color: transparent !important;
	color: #CCCCCC;
	text-decoration: none !important;
}

#link-box a:hover {
	text-decoration: underline !important;
}

#link-box ul {
	display: inline;
    float: left;
    font-size: 0.9em;
    padding-left: 1.5em;
    margin: 17px 0 0 0px;
}

#link-box li a {
	border-right: 1px solid #999999;
    padding: 0 15px 0 10px;
}

#link-box li.last a {
	border-right: medium none;
}