<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    					http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security
                        http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<global-method-security pre-post-annotations="enabled" />

    <http pattern="/img/**" security="none" />
	<http pattern="/js/**" security="none" />
	<http pattern="/css/**" security="none" />
	<http pattern="/appstats*" security="none" />
	<http pattern="/access/*.html*" security="none"/>

    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/cron/**" access="hasRole('ADMIN')"/>
        <intercept-url pattern="/task/**" access="permitAll"/>
        <intercept-url pattern="/secure/**" access="isAuthenticated()" />
        <intercept-url pattern="/app/load-apps" access="permitAll" />
        <intercept-url pattern="/app/**" access="isAuthenticated()" />
        <intercept-url pattern="/access/**" access="permitAll" />
        <intercept-url pattern="/app/**" access="permitAll" />
        <intercept-url pattern="/user/have" access="isAuthenticated()" />
        <intercept-url pattern="/user/recommend" access="isAuthenticated()" />
        <intercept-url pattern="/user/**" access="permitAll" />
        <intercept-url pattern="/" access="permitAll" />
        <intercept-url pattern="/index.html" access="permitAll" />
        <form-login login-page="/access/sign-in.html" default-target-url="/access/sign-in-success" authentication-failure-url="/access/sign-in-fail" />
        <logout logout-success-url="/access/sign-out-success.html" delete-cookies="JSESSIONID"/>
        <remember-me />
    </http>
    
	<beans:bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder" />

    <beans:bean id="saltSource" class="org.springframework.security.authentication.dao.ReflectionSaltSource">
    	<beans:property name="userPropertyToUse" value="username" />
    </beans:bean>

	<beans:bean id="userService" class="com.retro.rapplz.service.UserServiceImpl" />
    
    <beans:bean id="daoAuthenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<beans:property name="userDetailsService" ref="userService" />
	</beans:bean>
	
	<beans:bean id="authenticationManager" class="org.springframework.security.authentication.ProviderManager">
        <beans:property name="providers">
            <beans:list>
                <beans:ref local="daoAuthenticationProvider" />
            </beans:list>
        </beans:property>
    </beans:bean>

	<authentication-manager>
		<authentication-provider user-service-ref="userService">
			<password-encoder ref="passwordEncoder">
				<salt-source ref="saltSource"/>
			</password-encoder>
		</authentication-provider>
	</authentication-manager>

</beans:beans>